/* html {
  height: 100%;
} */

body {
  margin: 0px;
  overflow: hidden;
  background-color: #222222;
  font-family: 'Oxygen', sans-serif;
  /* min-height: 100%; */
}

.boundary {
  stroke: white;
  stroke-opacity: 0.4;
}

.label {
  fill: white;
  color: white;
}

.handle1 {
  stroke: red;
  /* stroke-opacity: 0.4; */
}

.handle2 {
  stroke: red;
  /* stroke-opacity: 0.4; */
}

.text{
  fill: white;
  stroke: white;
}

/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
/* Grid Container */
.container {
  display: grid;
  /* grid-template-columns: [first-column] 1vw [line1] 10vw [line2] auto [line3] 10vw [line4] 1vw [last-column]; */
  grid-template-columns: [first-column] 0.1vw [line1] 15% [line2] 15% [line3] auto [line4] auto [line5] 0.1vw [last-column];
  grid-template-rows: [first-row] 5vh [mid1] auto [mid2] auto [mid3] auto [mid4] auto [mid5] auto [last-row];
  grid-column-gap: 0.5vw;
  padding-left: 0.2vw;
  padding-right: 0.2vw;
}

/* Grid Item */
.test {
  grid-column-start: line1;
  grid-column-end: line2;
  grid-row-start: first-row;
  grid-row-end: mid1;
  justify-self: center;
  align-self: center;
  font-size: 65%;
}

.formPalette {
  display: flex;
  align-items: center;
}

.formScale {
  display: flex;
  align-items: center;
}

.yearSelect {
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: first-row;
  grid-row-end: mid1;
  align-self: center;
}

.title {
  grid-column-start: line1;
  grid-column-end: line5;
  grid-row-start: first-row;
  grid-row-end: mid1;
  justify-self: center;
  align-self: center;
}

.reset {
  grid-column-start: line4;
  grid-column-end: line5;
  grid-row-start: first-row;
  grid-row-end: mid1;
  justify-self: center;
  align-self: center;
}

.chart-div {
  grid-column-start: line1;
  grid-column-end: line2;
  grid-row-start: mid1;
  grid-row-end: mid2;
  justify-self: center;
  /* justify-self: center;
    align-self: center; */
  color: white;
}

.legend-div {
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: mid1;
  grid-row-end: mid2;
  /* justify-self: center;
  align-self: center; */
  color: white;
}

.chart {
  grid-column-start: line1;
  grid-column-end: line3;
  grid-row-start: mid3;
  grid-row-end: mid4;
}

.selectChart-div {
  grid-column-start: line1;
  grid-column-end: line3;
  grid-row-start: mid2;
  grid-row-end: mid3;
}

.barchart-div {
  grid-column-start: line1;
  grid-column-end: line3;
  grid-row-start: mid4;
  grid-row-end: mid5;
  /* justify-self: center;
  align-self: center; */
  color: white;
}

.map-div {
  grid-column-start: line3;
  grid-column-end: line5;
  grid-row-start: mid1;
  grid-row-end: mid5;
}

.filter-div {
  grid-column-start: line1;
  grid-column-end: line5;
  grid-row-start: mid5;
  grid-row-end: last-row;
  display: blocks;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
}

.numbers {
  color: white;
}

.grid {
  opacity: 0.4;
}

.selectChartCountries {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

/* SVGs
#worldMap{
    width: 70vw;
    height: 54vh;
} */

/* .d3-tip {
  line-height: 1;
  padding: 12px;
  position: absolute;
  background: rgba(35, 35, 35, 0.91);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  border-style: solid;
  border-color: coral;
}

#tooltip table,
#tooltip tr,
#tooltip td {
  padding: 5px;
  text-align: left;
  font-weight: normal;
}

#tooltip tr,
#tooltip td:first-child {
  font-weight: bold;
  text-align: right;
} */

/* Tippy is here! */
.country-tippy {
  text-align: left;
}